.testimonial {
    text-align: center;

}
.testimonial-content {

    justify-items: center;
}
.testimonial-text {
    text-align: center;
    font-size: 20px;
    padding:0px 150px;
    color: white;
    
}
.images {
    text-align: center;
    justify-content: center;
}

.testimonial-image {
    border-radius: 100%;
}

.testimonial-top span {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #c36;


}

.testimonial-top h2 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
    color: white;
    padding-bottom: 50px;
}
.testimonial-author {
    font-size: 40px;
    font-weight: 400;
    margin-top: 30px;
    color: white;
}

@media only screen and (max-width: 420px) {
    .testimonial-text {
        text-align: center;
        font-size: 20px;
       padding: 0px;
        color: white;
        
    }
    .testimonial-top span {
        font-size: 15px;
    }
    .testimonial-top h2 {
        font-size: 35px;
    }
    .testimonial-content p{
        font-size: 20px;
    }
    .testimonial-author {
        font-size: 25px;
    }
  }